// .test-co {
//     // all: unset;
//     // margin: 5px 0px;
//     // background: $contrastbg;
//     // border-radius: 7px;
//     // margin-right: 20px;
//     // font-size: 19px;
//     background: #fff;
//     color: #000;
//     // .test {
//     //     &:hover {
//     //         background: $hover;
//     //         border-radius: 7px;
//     //     }
//     //     > label {
//     //         padding-right: 8px;
//     //     }
//     // }
// }

.bar {
    background-color: $bg;
    font-family: sans-serif;
    font-size: 12px;
    color: $fg;
}

.works > button {
    margin: 0px 0px;
    padding: 4px 10px;
    // font-size: 16px;
}

.works {
    margin-top: $margin-top-bottom;
    margin-left: 7px;
    font-size: 16px;
    background-color: $contrastbg;
    border-radius: 7px;

    /* NOTE: "\3" is placed before class selections which are starting with numbers just to escape vscode linter's error, removing "\3" won't affect gtk's style */

    // unoccupied but not in focus

    .\30 {
        color: $black;
        // background-color: $bg;
        &:hover {
            background: $hover;
            border-radius: 7px;
        }
    }

    // occupied but not in focus; unoccupied but in focus
    .\30ws1,
    .\30ws2,
    .\30ws3,
    .\30ws4,
    .\30ws5,
    .\30ws6 {
        color: $fg;
        // background-color: $bg;
        &:hover {
            background: $hover;
            border-radius: 7px;
        }
    }

    // occupied and focused
    .\30ws1ws1,
    .\30ws2ws2,
    .\30ws3ws3,
    .\30ws4ws4,
    .\30ws5ws5,
    .\30ws6ws6 {
        color: $green;
        // background-color: $bg;

        &:hover {
            background: $hover;
            border-radius: 7px;
            box-shadow: 0px 0px 0px 1.3px rgba(179, 164, 164, 0.329);
        }
    }
}

.wintitle {
    background-color: $contrastbg;
    color: $green;
    margin: $margin-top-bottom 0px;
    padding: 0px 8px;
    border-radius: 7px;
    font-size: 13.4px;
}

.right-modules {
    box {
        padding: 0px 4px;
        & > label:nth-child(1) {
            padding-right: 5px;
        }
        &:first-child {
            :nth-child(1) {
                padding-left: 7px;
            }
        }
        &:last-child {
            :nth-child(2) {
                padding-right: 7px;
            }
        }
    }
}

.mem-used--container {
    background: $contrastbg;
    border-radius: 7px 0px 0px 7px;
    margin: $margin-top-bottom 0px;
    .mem-used--icon {
        font-size: 21px;
        margin-top: -1px;
    }
    .mem-used--text {
        font-size: 14px;
    }
}

.net-download--container {
    background: $contrastbg;
    margin: $margin-top-bottom 0px;
    .net-download--icon {
        font-family: "Hack nerd font";
        font-size: 18px;
        margin-top: -1px;
    }
    .net-download--text {
        font-size: 14px;
    }
}

// styling "eventbox" ain't easy ;-;
.wifi-icon--container {
    margin: 7px 0px;
    background: $contrastbg;
    .network {
        font-size: 18px;
        & > label {
            padding-right: 1px;
            margin-right: -2px;
            margin-bottom: -1px;
        }
        &:hover {
            background: $hover;
            border-radius: 7px;
            & > label {
                padding: 0px 8px 0px 6px;
            }
        }
        &:active {
            background-color: $bgSecondary;
        }
        &.disconnected {
            color: $red;
        }
        &.connected {
            // color: $green;
            color: $fg;
        }
    }
}

.bat--container {
    background: $contrastbg;
    border-radius: 0px 7px 7px 0px;
    margin: $margin-top-bottom 0px;
    .bat--icon {
        font-size: 21px;
        margin-top: -4px;
        &:hover {
            background: $hover;
            padding: 0px 5px;
            border-radius: 7px;
        }
    }
    .bat--text {
        font-size: 14px;
    }
}

.date-box {
    background: $contrastbg;
    // margin: 6px 15px 7px 6px;
    margin: $margin-top-bottom 7px;
    padding: 0px 8px;
    border-radius: 7px;
    font-size: 14px;

    .content {
        color: $fg;
        font-size: 14px;
        padding-right: 3px;
    }
}

// .sep {
//     font-size: 64px;
//     // margin: 0px -1px;
//     margin: 0px 1px;
// }
